@use "./navigation";
@use "./main";


body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: #282d35;
  color: white;
  padding: 0px;
  margin: 0px;
}

.container{
  max-width: 720px;
  margin: auto;
  padding: 0px 0.75rem;
  position: relative;
}


