//entry specific styles
.entry {
  display: flex;
  column-gap: 1rem;
  align-content: center;
  align-items: center;

  //secondary data (image + caption)
  .secondary {
    margin: 0em;

    img {

      width: 150px;
      height: 200px;
      object-fit: cover;
      max-width: 200px;
      border-radius: 0.5em;

    }

    figcaption {
      color: #646364;
      font-size: 0.8rem;
      font-style: italic;
    }
  }

  //right side (main data)
  .primary {


    .country {

      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 0.25em;
      margin: 0rem;
      font-size: 0.65rem;

      img {
        width: 10px;
        height: auto;
      }

      p {
        text-transform: uppercase;
        font-weight: 400;
        margin: 0rem;
        letter-spacing: 0.1rem;
      }

      a {
        color: #c0bec4;
        text-decoration: underline;
        font-size: 0.8rem;
        margin-left: 0.5rem;
      }
    }

    .location {
      margin: 0rem auto 0.75rem auto;
      font-weight: 700;
      font-size: 1.56rem;
    }

    .dates {
      font-weight: 700;
      margin: 0rem auto 0.5rem auto;
      font-size: 0.85rem;

      .start, .end {

      }
    }

    .activeState{
      font-size: 0.8rem;
      margin: 0rem auto 0.25rem auto;
      font-style: italic;
      color: #f15858;
      font-weight: 700;
    }

    .description {
      line-height: 1.5rem;
      margin-top: 0rem;
      margin-bottom: 1rem;
      font-size: 0.9rem;
    }

  }

  //change layout for mobile
  @media screen and (max-width: 40em){
    flex-wrap: wrap;


    .secondary{
      position: relative;
      width: 100%;
      order: 1;
      z-index: 1;

      img{
        width: 100%;
        max-width:none;
        border-radius: 0rem;
      }
      figcaption{
        position: absolute;
        top: 0px;
        right: 0px;
        background: rgba(238, 238, 238, 0.85);
        padding: 0.5rem;
      }
    }
    .primary{
      order: 2;
      z-index: 1;
      margin-top: -100px;
      padding: 0.5rem;
      background: linear-gradient(180deg, rgba(238, 238, 238, 0.6) 0%, rgba(238, 238, 238, 0.80) 20%, rgba(238, 238, 238, 1) 100%);
    }

  }

}

hr {
  display: block;
  height: 1px;
  padding: 0;
  background: #eee;
  border: 0px;
}



